.env
*.csv

# Terraform
*.tfplan
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform/terraform.tfvars
terraform/tfplan.out
terraform/*.py

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/


# Système
.DS_Store
*.log
terraform/terraform.tfvars
cloud-ia-key
cloud-ia-key
cloud-ia-key.pub

# Logs
logs/*.log
logs/last_suggestion.json
